# Data Science Tools and Ecosystem

### Objectives: 
1. Popular Languages
2. Commonly Used Libraries
3. Tools
4. Simple Expressions

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| Data Science Tools |
| --- |
| Jupyter Notebook |
| Apache Spark |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [27]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Stephen Bruington

## Author
Stephen Bruington